/* powered by DARK READER */

body {
  color: rgb(216, 214, 208);
  background-color: rgb(24, 26, 27);
}

a {
  color: rgb(77, 172, 253);
}

.UnderlineNav-item.selected {
  color: rgb(216, 214, 208) !important;
  border-bottom-color: rgb(196, 85, 8) !important;
}

.UnderlineNav-item {
  color: rgb(196, 191, 183);
  border-bottom-color: transparent;
}

.UnderlineNav-item:focus,
.UnderlineNav-item:hover {
  color: rgb(216, 214, 208);
  text-decoration-color: initial;
  border-bottom-color: rgb(55, 61, 69);
}

.Box {
  background-color: rgb(24, 26, 27);
  border-top-color: rgb(55, 61, 69);
  border-right-color: rgb(55, 61, 69);
  border-bottom-color: rgb(55, 61, 69);
  border-left-color: rgb(55, 61, 69);
}

.Box-header {
  background-color: rgb(27, 28, 30);
  border-top-color: rgb(55, 61, 69);
  border-right-color: rgb(55, 61, 69);
  border-bottom-color: rgb(55, 61, 69);
  border-left-color: rgb(55, 61, 69);
}

.Box-body {
  border-bottom-color: rgb(52, 59, 68);
}

.Counter {
  color: rgb(196, 191, 183);
  background-color: rgba(27, 31, 35, 0.08);
}

.text-gray {
  color: rgb(196, 191, 183) !important;
}

.text-gray-light {
  color: rgb(189, 184, 174) !important;
}

.btn {
  color: rgb(216, 214, 208);
  background-color: rgb(29, 31, 32);
  background-image: linear-gradient(
    -180deg,
    rgb(26, 27, 28),
    rgb(29, 31, 32) 90%
  );
}

.btn.hover,
.btn:hover {
  background-color: rgb(31, 33, 35);
  background-image: linear-gradient(
    -180deg,
    rgb(29, 30, 32),
    rgb(31, 33, 35) 90%
  );
  border-top-color: rgba(86, 99, 112, 0.35);
  border-right-color: rgba(86, 99, 112, 0.35);
  border-bottom-color: rgba(86, 99, 112, 0.35);
  border-left-color: rgba(86, 99, 112, 0.35);
}

.btn-outline.disabled,
.btn-outline:disabled {
  color: rgba(220, 218, 212, 0.3);
  background-color: rgb(24, 26, 27);
  border-top-color: rgba(86, 99, 112, 0.15);
  border-right-color: rgba(86, 99, 112, 0.15);
  border-bottom-color: rgba(86, 99, 112, 0.15);
  border-left-color: rgba(86, 99, 112, 0.15);
  box-shadow: none;
}

.btn.disabled,
.btn:disabled {
  color: rgba(216, 214, 208, 0.4);
  background-color: rgb(29, 31, 32);
  background-image: none;
  border-top-color: rgba(86, 99, 112, 0.2);
  border-right-color: rgba(86, 99, 112, 0.2);
  border-bottom-color: rgba(86, 99, 112, 0.2);
  border-left-color: rgba(86, 99, 112, 0.2);
  box-shadow: none;
}

.btn-outline {
  color: rgb(77, 172, 253);
  background-color: rgb(24, 26, 27);
  background-image: none;
}

.btn-outline.selected,
.btn-outline:active,
.btn-outline:hover,
[open] > .btn-outline {
  color: rgb(255, 255, 255);
  background-color: rgb(3, 95, 199);
  background-image: none;
  border-top-color: rgb(3, 99, 207);
  border-right-color: rgb(3, 99, 207);
  border-bottom-color: rgb(3, 99, 207);
  border-left-color: rgb(3, 99, 207);
}

.btn-outline.disabled,
.btn-outline:disabled {
  color: rgba(220, 218, 212, 0.3);
  background-color: rgb(24, 26, 27);
  border-top-color: rgba(86, 99, 112, 0.15);
  border-right-color: rgba(86, 99, 112, 0.15);
  border-bottom-color: rgba(86, 99, 112, 0.15);
  border-left-color: rgba(86, 99, 112, 0.15);
  box-shadow: none;
}

.user-profile-sticky-bar::after {
  background-color: rgb(24, 26, 27);
  border-bottom-color: rgb(55, 61, 69);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px;
}

.user-profile-nav {
  background-color: rgb(24, 26, 27);
  border-bottom-color: rgb(55, 61, 69);
}

.vcard-username {
  color: rgb(195, 191, 182);
}

.vcard-username {
  color: rgb(195, 191, 182);
}

.vcard-detail .octicon {
  color: rgb(189, 184, 174);
}

.border-top {
  border-top-color: rgb(52, 59, 68) !important;
}

.border-bottom {
  border-bottom-color: rgb(52, 59, 68) !important;
}

.border {
  border-top-color: rgb(52, 59, 68) !important;
  border-right-color: rgb(52, 59, 68) !important;
  border-bottom-color: rgb(52, 59, 68) !important;
  border-left-color: rgb(52, 59, 68) !important;
}

.border-gray-dark {
  border-top-color: rgb(55, 61, 69) !important;
  border-right-color: rgb(55, 61, 69) !important;
  border-bottom-color: rgb(55, 61, 69) !important;
  border-left-color: rgb(55, 61, 69) !important;
}

.repohead.experiment-repo-nav {
  background-color: rgb(26, 27, 28);
}

.repohead h1 {
  color: rgb(196, 191, 183);
}

.pagehead {
  border-bottom-color: rgb(52, 59, 68);
}

.file-info-divider {
  background-color: rgb(34, 36, 37);
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom-color: rgb(50, 57, 66);
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: rgb(27, 28, 30);
}

.markdown-body table tr {
  background-color: rgb(24, 26, 27);
  border-top-color: rgb(57, 63, 71);
}

.markdown-body table td,
.markdown-body table th {
  border-top-color: rgb(53, 59, 66);
  border-right-color: rgb(53, 59, 66);
  border-bottom-color: rgb(53, 59, 66);
  border-left-color: rgb(53, 59, 66);
}

.markdown-body table tr {
  background-color: rgb(24, 26, 27);
  border-top-color: rgb(57, 63, 71);
}

.markdown-body table tr:nth-child(2n) {
  background-color: rgb(27, 28, 30);
}

.markdown-body table td,
.markdown-body table th {
  border-top-color: rgb(53, 59, 66);
  border-right-color: rgb(53, 59, 66);
  border-bottom-color: rgb(53, 59, 66);
  border-left-color: rgb(53, 59, 66);
}

.markdown-body blockquote {
  color: rgb(189, 184, 174);
  border-left-color: rgb(53, 59, 66);
}

.markdown-body hr {
  background-color: rgb(33, 35, 36);
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
}

.text-gray {
  color: rgb(196, 192, 183) !important;
}

.calendar-graph text.month {
  fill: rgb(190, 185, 175);
}

.calendar-graph text.wday {
  fill: rgb(190, 185, 175);
}

.day[fill='#ebedf0'],
.legend li[style*='background-color: rgb(235, 237, 240)'],
.legend li[style*='background-color: #ebedf0'] {
  fill: #0f1114 !important;
  background-color: #0f1114 !important;
}

.day[fill='#c6e48b'],
.legend li[style*='background-color: rgb(198, 228, 139)'],
.legend li[style*='background-color: #c6e48b'] {
  fill: #2c3a31 !important;
  background-color: #2c3a31 !important;
}

.day[fill='#7bc96f'],
.legend li[style*='background-color: rgb(123, 201, 111)'],
.legend li[style*='background-color: #7bc96f'] {
  fill: #58965c !important;
  background-color: #58965c !important;
}

.day[fill='#239a3b'],
.legend li[style*='background-color: rgb(35, 154, 59)'],
.legend li[style*='background-color: #239a3b'] {
  fill: #87ee9f !important;
  background-color: #87ee9f !important;
}

.day[fill='#196127'],
.legend li[style*='background-color: rgb(25, 97, 39)'],
.legend li[style*='background-color: #196127'] {
  fill: #adf5bb !important;
  background-color: #adf5bb !important;
}

.bg-white {
  background-color: rgb(24, 26, 27) !important;
}

.filter-item {
  color: rgb(196, 191, 183);
  text-decoration-color: initial;
}

.filter-item.selected {
  color: rgb(255, 255, 255);
  background-color: rgb(3, 95, 199);
}

.filter-item:hover {
  text-decoration-color: initial;
  background-color: rgb(30, 32, 33);
}

.no-underline {
  text-decoration-color: initial !important;
}

.muted-link {
  color: rgb(196, 191, 183) !important;
}

.muted-link:hover {
  text-decoration-color: initial;
  color: rgb(77, 172, 253) !important;
}

.discussion-timeline::before {
  background-color: rgb(33, 35, 36);
}

.profile-timeline.discussion-timeline::before {
  background-color: rgb(30, 32, 33);
}

.profile-timeline.discussion-timeline .profile-timeline-month-heading::after {
  background-color: rgb(30, 32, 33);
}

.discussion-item-icon {
  color: rgb(216, 214, 208);
  background-color: rgb(33, 35, 36);
  border-top-color: rgb(51, 51, 51);
  border-right-color: rgb(51, 51, 51);
  border-bottom-color: rgb(51, 51, 51);
  border-left-color: rgb(51, 51, 51);
}

.octicon {
  fill: currentcolor;
}

/* custom */

.github-octicon {
  fill: currentColor;
  color: #fff;
}
