@font-face {
    font-family: octicons-link;
    src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.gitalk-container {
    margin: 10px auto;
    max-width: 840px;
    padding-left: 16px;
    padding-right: 16px;
}

.gitalk-container .markdown-body {
}

/* variables */
/* functions & mixins */
/* variables - calculated */
/* styles */
.gitalk-container .gt-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    /* loader */
    /* error */
    /* initing */
    /* no int */
    /* link */
    /* meta */
    /* popup */
    /* header */
    /* comments */
    /* comment */
}

.gitalk-container .gt-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gitalk-container .gt-container a {
    color: var(--color-text-link);
}

.gitalk-container .gt-container a:hover {
    text-decoration: none;
    outline-width: 0;
}

.gitalk-container .gt-container a.is--active {
    color: var(--color-fg-default);
    cursor: default !important;
}

.gitalk-container .gt-container a.is--active:hover {
    color: var(--color-fg-default);
}

.gitalk-container .gt-container .hide {
    display: none !important;
}

.gitalk-container .gt-container .gt-svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: sub;
}

.gitalk-container .gt-container .gt-svg svg {
    width: 100%;
    height: 100%;
    fill: var(--color-text-primary);
}

.gitalk-container .gt-container .gt-ico {
    display: inline-block;
}

.gitalk-container .gt-container .gt-ico-text {
    margin-left: 0.3125em;
}

.gitalk-container .gt-container .gt-ico-github {
    width: 100%;
    height: 100%;
}

.gitalk-container .gt-container .gt-ico-github .gt-svg {
    width: 100%;
    height: 100%;
}

.gitalk-container .gt-container .gt-spinner {
}

.gitalk-container .gt-container .gt-spinner::before {
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    width: 0.75em;
    height: 0.75em;
    margin-top: -0.1875em;
    margin-left: -0.375em;
    border-radius: 50%;
    -webkit-animation: gt-kf-rotate 0.6s linear infinite;
    animation: gt-kf-rotate 0.6s linear infinite;
}

.gitalk-container .gt-container .gt-loader {
    -webkit-animation: ease gt-kf-rotate 1.5s infinite;
    animation: ease gt-kf-rotate 1.5s infinite;
    display: inline-block;
    font-style: normal;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    border-radius: 50%;
}

.gitalk-container .gt-container .gt-loader:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-top: -0.1875em;
    margin-left: -0.1875em;
    width: 0.375em;
    height: 0.375em;
    border-radius: 50%;
}

.gitalk-container .gt-container .gt-avatar {
    display: inline-block;
    width: 3em;
    height: 3em;
}

.gitalk-container .gt-container .gt-avatar img {
    border-radius: 50% !important;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-avatar {
        width: 2em;
        height: 2em;
    }
}

.gitalk-container .gt-container .gt-avatar img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.gitalk-container .gt-container .gt-avatar-github {
    width: 3em;
    height: 3em;
    cursor: pointer;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-avatar-github {
        width: 1.875em;
        height: 1.875em;
    }
}

.gitalk-container .gt-container .gt-btn {
    padding: 0.75em 1.25em;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    font-size: 0.75em;
    color: var(--color-btn-outline-selected-text);
    background-color: var(--color-btn-outline-selected-bg);
    border-color: var(--color-btn-outline-selected-border);
    box-shadow: var(--color-btn-outline-selected-shadow);
}

.gitalk-container .gt-container .gt-btn-text {
    font-weight: 400;
}

.gitalk-container .gt-container .gt-btn-loading {
    margin-left: 0.5em;
    display: inline-block;
    width: 0.75em;
    height: 1em;
    vertical-align: top;
}

.gitalk-container .gt-container .gt-btn.is--disable {
    cursor: not-allowed;
    opacity: 0.5;
}

.gitalk-container .gt-container .gt-btn-login {
    color: var(--color-btn-outline-selected-text);
    background-color: var(--color-btn-outline-selected-bg);
    border-color: var(--color-btn-outline-selected-border);
    box-shadow: var(--color-btn-outline-selected-shadow);
}

.gitalk-container .gt-container .gt-btn-preview {
    color: var(--color-btn-text);
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
    transition: .2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color,background-color,border-color;
}

.gitalk-container .gt-container .gt-btn-preview:hover {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
    transition-duration: .1s;
}

.gitalk-container .gt-container .gt-error {
    text-align: center;
    margin: 0.625em;
    color: var(--color-danger-fg);
}

.gitalk-container .gt-container .gt-initing {
    padding: 1.25em 0;
    text-align: center;
}

.gitalk-container .gt-container .gt-initing-text {
    margin: 0.625em auto;
    font-size: 92%;
}

.gitalk-container .gt-container .gt-no-init {
    padding: 1.25em 0;
    text-align: center;
}

.gitalk-container .gt-container .gt-link {
    border-bottom: 1px dotted;
}

.gitalk-container .gt-container .gt-link-counts,
.gitalk-container .gt-container .gt-link-project {
    text-decoration: none;
}

.gitalk-container .gt-container .gt-meta {
    margin: 1.25em 0;
    padding: 1em 0;
    border-bottom: 1px solid var(--color-border-default);
    font-size: 1em;
}

.gitalk-container .gt-container .gt-meta:before,
.gitalk-container .gt-container .gt-meta:after {
    content: " ";
    display: table;
}

.gitalk-container .gt-container .gt-meta:after {
    clear: both;
}

.gitalk-container .gt-container .gt-counts {
    margin: 0 0.625em 0 0;
}

.gitalk-container .gt-container .gt-user {
    float: right;
    margin: 0;
    font-size: 92%;
}

.gitalk-container .gt-container .gt-user-pic {
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 0.5em;
}

.gitalk-container .gt-container .gt-user-inner {
    display: inline-block;
    cursor: pointer;
}

.gitalk-container .gt-container .gt-user .gt-ico {
    margin: 0 0 0 0.3125em;
}

.gitalk-container .gt-container .gt-user .is--poping .gt-ico svg {
}

.gitalk-container .gt-container .gt-version {
    margin-left: 0.375em;
}

.gitalk-container .gt-container .gt-copyright {
    margin: 0 0.9375em 0.5em;
    border-top: 1px solid var(--color-border-default);
    padding-top: 0.5em;
}

.gitalk-container .gt-container .gt-popup {
    position: absolute;
    right: 0;
    top: 2.375em;
    background-color: var(--color-canvas-overlay);
    display: inline-block;
    border: 1px solid var(--color-border-muted);
    padding: 0.625em 0;
    font-size: 0.875em;
    letter-spacing: 1px;
}

.gitalk-container .gt-container .gt-popup .gt-action {
    cursor: pointer;
    display: block;
    margin: 0.5em 0;
    padding: 0 1.125em;
}

.gitalk-container .gt-container .gt-popup .gt-action.is--active:before {
    content: '';
    width: 0.25em;
    height: 0.25em;
    background: var(--color-fg-default);;
    position: absolute;
    left: 0.5em;
    top: 0.4375em;
}

.gitalk-container .gt-container .gt-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gitalk-container .gt-container .gt-header-comment {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 1.25em;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    padding: 8px;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-header-comment {
        margin-left: 0.875em;
    }
}

.gitalk-container .gt-container .gt-header-textarea {
    padding: 0.75em;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 5.125em;
    max-height: 15em;
    border-radius: 5px;
    border: 1px solid var(--color-border-default);
    font-size: 0.875em;
    word-wrap: break-word;
    resize: vertical;
    background-color: var(--color-canvas-inset);
    outline: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.gitalk-container .gt-container .gt-header-textarea:focus {
    background-color: var(--color-canvas-default);
    border-color: var(--color-accent-emphasis);
    outline: none;
    box-shadow: var(--color-primer-shadow-focus);
}

.gitalk-container .gt-container .gt-header-preview {
    margin: 8px;
}

.gitalk-container .gt-container .gt-header-controls {
    margin: 0.75em 0 0;
}

.gitalk-container .gt-container .gt-header-controls:before,
.gitalk-container .gt-container .gt-header-controls:after {
    content: " ";
    display: table;
}

.gitalk-container .gt-container .gt-header-controls:after {
    clear: both;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-header-controls {
        margin: 0;
    }
}

.gitalk-container .gt-container .gt-header-controls-tip {
    font-size: 0.875em;
    color: var(--color-accent-fg);
    text-decoration: none;
    vertical-align: sub;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-header-controls-tip {
        display: none;
    }
}

.gitalk-container .gt-container .gt-header-controls .gt-btn {
    float: right;
    margin-left: 1.25em;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-header-controls .gt-btn {
        float: none;
        width: 100%;
        margin: 0.75em 0 0;
    }
}

.gitalk-container .gt-container:after {
    content: '';
    position: fixed;
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
}

.gitalk-container .gt-container.gt-input-focused {
}

.gitalk-container .gt-container.gt-input-focused:after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s, bottom 0s;
    transition: opacity 0.3s, bottom 0s;
}

.gitalk-container .gt-container.gt-input-focused .gt-header-comment {
}

.gitalk-container .gt-container .gt-comments {
    padding-top: 1.25em;
}

.gitalk-container .gt-container .gt-comments-null {
    text-align: center;
}

.gitalk-container .gt-container .gt-comments-controls {
    margin: 1.25em 0;
    text-align: center;
}

.gitalk-container .gt-container .gt-comment {
    padding: 0.625em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gitalk-container .gt-container .gt-comment-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 1.25em;
    background-color: var(--color-border-default);
    overflow: auto;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-comment-content {
        margin-left: 0.875em;
    }
}

.gitalk-container .gt-container .gt-comment-header {
    font-size: 0.875em;
    display: flex;
    background-color: var(--color-canvas-subtle);
    border-bottom: 1px solid var(--color-border-default);
    padding-right: 16px;
    padding-left: 16px;
    height: 40px;
    align-items: center;
}

.gitalk-container .gt-container .gt-comment-block-1 {
    display: none;
}

.gitalk-container .gt-container .gt-comment-block-2 {
    display: none;
}

.gitalk-container .gt-container .gt-comment-username {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-fg-default) !important;
}

@media (max-width: 479px) {
    .gitalk-container .gt-container .gt-comment-username {
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.gitalk-container .gt-container .gt-comment-username:hover {
    text-decoration: underline;
    color: var(--color-accent-fg) !important;
}

.gitalk-container .gt-container .gt-comment-text {
    margin-left: 0.5em;
    color: var(--color-fg-muted) !important;
}

.gitalk-container .gt-container .gt-comment-date {
    margin-left: 0.5em;
    color: var(--color-fg-muted) !important;
}

.gitalk-container .gt-container .gt-comment-like,
.gitalk-container .gt-container .gt-comment-edit,
.gitalk-container .gt-container .gt-comment-reply {
    position: absolute;
    height: 1.375em;
}

.gitalk-container .gt-container .gt-comment-like:hover,
.gitalk-container .gt-container .gt-comment-edit:hover,
.gitalk-container .gt-container .gt-comment-reply:hover {
    cursor: pointer;
}

.gitalk-container .gt-container .gt-comment-like {
    right: 38px;
}

.gitalk-container .gt-container .gt-comment-edit,
.gitalk-container .gt-container .gt-comment-reply {
    right: 16px;
}

.gitalk-container .gt-container .gt-comment-body {
    padding: 16px;
    font-size: 14px;
}

.gitalk-container .gt-container .gt-comment-body .email-hidden-toggle a {
    display: inline-block;
    height: 12px;
    padding: 0 9px;
    font-size: 12px;
    font-weight: 600;
    line-height: 6px;
    color: #444d56;
    text-decoration: none;
    vertical-align: middle;
    background: #dfe2e5;
    border-radius: 1px;
}

.gitalk-container .gt-container .gt-comment-body .email-hidden-toggle a:hover {
    background-color: #c6cbd1;
}

.gitalk-container .gt-container .gt-comment-body .email-hidden-reply {
    display: none;
    white-space: pre-wrap;
}

.gitalk-container .gt-container .gt-comment-body .email-hidden-reply .email-signature-reply {
    padding: 0 15px;
    margin: 15px 0;
    color: #586069;
    border-left: 4px solid #dfe2e5;
}

.gitalk-container .gt-container .gt-comment-body .email-hidden-reply.expanded {
    display: block;
}

.gitalk-container .gt-container .gt-comment-admin .gt-comment-content {
    background-color: var(--color-canvas-default);
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
}

@-webkit-keyframes gt-kf-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes gt-kf-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
