
{{ partial "overview.html" .}}
<div class="footer container-xl width-full p-responsive">
  <div
    class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-sm-items-center pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light"
  >
    <ul
      class="list-style-none d-flex flex-wrap col-12 flex-justify-center mb-2 mb-lg-0"
    >
      {{ if .Site.Copyright }}
      <li class="mr-3 mr-lg-0">{{ .Site.Copyright | safeHTML }}</li>
      {{ end }}
    </ul>
  </div>
  <div class="d-flex flex-justify-center pb-6">
    <span class="f6 text-gray-light"></span>
  </div>
</div>
