<div class="application-main " data-commit-hovercards-enabled>
    <main id="js-pjax-container" data-pjax-container>
        <div class="container-xl clearfix px-3 mt-4">

            {{ partial "user-profile.html" . }}

            <div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">

                <div class="UnderlineNav width-full user-profile-nav js-sticky top-0">
                    <nav class="UnderlineNav-body" data-pjax aria-label="User profile">
                        <a aria-current="page" class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 selected "
                            data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:16873295,&quot;target&quot;:&quot;TAB_OVERVIEW&quot;,&quot;user_id&quot;:20951666,&quot;client_id&quot;:&quot;137616883.1552221351&quot;,&quot;originating_request_id&quot;:&quot;C856:47CF:BB376B:12A5712:5DAD53A4&quot;,&quot;originating_url&quot;:&quot;https://github.com/763461297&quot;,&quot;referrer&quot;:&quot;https://github.com/MeiK2333?tab=following&quot;}}"
                            data-hydro-click-hmac="9df4e3de0c3dd80eeaa75e719b9175ee4aa2822f8876d86e483befc5789dea4b"
                            href="{{ .Site.BaseURL }}">
                            Overview
                        </a>
                        <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 "
                            data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:16873295,&quot;target&quot;:&quot;TAB_REPOSITORIES&quot;,&quot;user_id&quot;:20951666,&quot;client_id&quot;:&quot;137616883.1552221351&quot;,&quot;originating_request_id&quot;:&quot;C856:47CF:BB376B:12A5712:5DAD53A4&quot;,&quot;originating_url&quot;:&quot;https://github.com/763461297&quot;,&quot;referrer&quot;:&quot;https://github.com/MeiK2333?tab=following&quot;}}"
                            data-hydro-click-hmac="9f1d1e84e5c4f0cc66aabc39096026b9a0e3a36fc66931de10687715fac5fd7e"
                            href="">
                            Posts
                            <span class="Counter hide-lg hide-md hide-sm">
                                3
                            </span>
                        </a>
                        <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 "
                            data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:16873295,&quot;target&quot;:&quot;TAB_PROJECTS&quot;,&quot;user_id&quot;:20951666,&quot;client_id&quot;:&quot;137616883.1552221351&quot;,&quot;originating_request_id&quot;:&quot;C856:47CF:BB376B:12A5712:5DAD53A4&quot;,&quot;originating_url&quot;:&quot;https://github.com/763461297&quot;,&quot;referrer&quot;:&quot;https://github.com/MeiK2333?tab=following&quot;}}"
                            data-hydro-click-hmac="4440c050614fb4b19d0bb14a77c7e0fa3875a1109642883d03ec8fffa2ed00f8"
                            href="/763461297?tab=projects">
                            About
                        </a>
                    </nav>
                </div>
                <div class="position-relative">
                    <div class="mt-4">
                        <div class="js-pinned-items-reorder-container">
                            <h2 class="f4 mb-2 text-normal">
                                Pinned
                            </h2>

                            <ol
                                class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list">

                                <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
                                    <div
                                        class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source  sortable-button-item">
                                        <div class="pinned-item-list-item-content">
                                            <div class="d-flex width-full flex-items-center position-relative">
                                                <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0"
                                                    viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                    aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                        d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z" />
                                                </svg>
                                                <a href="/763461297/GradePoint"
                                                    class="text-bold flex-auto min-width-0 ">
                                                    <span class="repo js-pinnable-item"
                                                        title="GradePoint">GradePoint</span>
                                                </a>

                                            </div>


                                            <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                                                sdut grade point interface
                                            </p>

                                            <p class="mb-0 f6 text-gray">
                                                <span class="d-inline-block mr-3">
                                                    <span class="repo-language-color"
                                                        style="background-color: #b07219"></span>
                                                    <span itemprop="programmingLanguage">Java</span>
                                                </span>

                                                <a href="/763461297/GradePoint/stargazers"
                                                    class="pinned-item-meta muted-link ">
                                                    <svg aria-label="stars" class="octicon octicon-star"
                                                        viewBox="0 0 14 16" version="1.1" width="14" height="16"
                                                        role="img">
                                                        <path fill-rule="evenodd"
                                                            d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z" />
                                                    </svg>
                                                    2
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </li>



                                <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
                                    <div
                                        class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source  sortable-button-item">
                                        <div class="pinned-item-list-item-content">
                                            <div class="d-flex width-full flex-items-center position-relative">
                                                <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0"
                                                    viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                    aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                        d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z" />
                                                </svg>
                                                <a href="/763461297/Scheduler" class="text-bold flex-auto min-width-0 ">
                                                    <span class="repo js-pinnable-item"
                                                        title="Scheduler">Scheduler</span>
                                                </a>

                                            </div>


                                            <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                                                Scheduler system - Three salted fish
                                            </p>

                                            <p class="mb-0 f6 text-gray">
                                                <span class="d-inline-block mr-3">
                                                    <span class="repo-language-color"
                                                        style="background-color: #4F5D95"></span>
                                                    <span itemprop="programmingLanguage">PHP</span>
                                                </span>

                                                <a href="/763461297/Scheduler/stargazers"
                                                    class="pinned-item-meta muted-link ">
                                                    <svg aria-label="star" class="octicon octicon-star"
                                                        viewBox="0 0 14 16" version="1.1" width="14" height="16"
                                                        role="img">
                                                        <path fill-rule="evenodd"
                                                            d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z" />
                                                    </svg>
                                                    1
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </li>



                                <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
                                    <div
                                        class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source  sortable-button-item">
                                        <div class="pinned-item-list-item-content">
                                            <div class="d-flex width-full flex-items-center position-relative">
                                                <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0"
                                                    viewBox="0 0 12 16" version="1.1" width="12" height="16"
                                                    aria-hidden="true">
                                                    <path fill-rule="evenodd"
                                                        d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z" />
                                                </svg>
                                                <a href="/763461297/SecuritySteward"
                                                    class="text-bold flex-auto min-width-0 ">
                                                    <span class="repo js-pinnable-item"
                                                        title="SecuritySteward">SecuritySteward</span>
                                                </a>

                                            </div>


                                            <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                                                Android project
                                            </p>

                                            <p class="mb-0 f6 text-gray">
                                                <span class="d-inline-block mr-3">
                                                    <span class="repo-language-color"
                                                        style="background-color: #b07219"></span>
                                                    <span itemprop="programmingLanguage">Java</span>
                                                </span>

                                                <a href="/763461297/SecuritySteward/stargazers"
                                                    class="pinned-item-meta muted-link ">
                                                    <svg aria-label="star" class="octicon octicon-star"
                                                        viewBox="0 0 14 16" version="1.1" width="14" height="16"
                                                        role="img">
                                                        <path fill-rule="evenodd"
                                                            d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z" />
                                                    </svg>
                                                    1
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="pinned-items-modal-wrapper"></div>
                </div>
            </div>
        </div>

    </main>
</div>

{{ partial "script.html" }}