{{- $lastYear := 2020}}
{{- $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{- $section := where .Site.RegularPages "Section" "in" $mainSections }}
{{- $section_count := len $section }}
{{- $n_posts := $.Param "recent_posts_number" | default 6 }}
<div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
    <div class="UnderlineNav width-full user-profile-nav js-sticky top-0">
        <nav class="UnderlineNav-body" data-pjax aria-label="User profile">
            <a aria-current="page" class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 selected " href="{{ .Site.BaseURL }}">
                Overview
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "posts/" }}">
                Posts
                <span class="Counter hide-lg hide-md hide-sm">
                    {{ $section_count}}
                </span>
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3" href="{{ absURL "tags/" }}">
                Tags
                <span class="Counter hide-lg hide-md hide-sm">
                    {{ len .Site.Taxonomies.tags }}
                </span>
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "about/" }}">
                About
            </a>
        </nav>
    </div>

    <div class="position-relative">
        <div class="mt-4">
            <div class="js-pinned-items-reorder-container">
                <h2 class="f4 mb-2 text-normal">
                    Recent Posts
                </h2>

                <ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list">
                    {{ range (first $n_posts $section.ByLastmod.Reverse ) }}
                    <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
                        <div
                            class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source  sortable-button-item">
                            <div class="pinned-item-list-item-content" name="pinned-post">
                                <div class="d-flex width-full flex-items-center position-relative">
                                    <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0" viewBox="0 0 12 16"
                                        version="1.1" width="12" height="16" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z" />
                                    </svg>
                                    <a href="{{ .Permalink }}" class="text-bold flex-auto min-width-0 ">
                                        <span class="repo js-pinnable-item" title="{{ .Title }}">{{ .Title }}</span>
                                    </a>
                                </div>
                                <div class="text-gray text-small d-block mt-2 mb-3">
                                    {{ .Description | safeHTML }}
                                </div>
                                <div class="mb-0 f6 text-gray">
                                    {{ with .Params.tags }}
                                        <span class="f6 text-gray mt-1">
                                            <svg class="octicon octicon-tag" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M7.73 1.73C7.26 1.26 6.62 1 5.96 1H3.5C2.13 1 1 2.13 1 3.5v2.47c0 .66.27 1.3.73 1.77l6.06 6.06c.39.39 1.02.39 1.41 0l4.59-4.59a.996.996 0 000-1.41L7.73 1.73zM2.38 7.09c-.31-.3-.47-.7-.47-1.13V3.5c0-.88.72-1.59 1.59-1.59h2.47c.42 0 .83.16 1.13.47l6.14 6.13-4.73 4.73-6.13-6.15zM3.01 3h2v2H3V3h.01z" />
                                            </svg>
                                            {{ range . }} <a href="/tags/{{ lower . }}/">{{ . }}</a>{{ end }}
                                        </span>
                                    {{ end }}
                                    <div class="mt-1">
                                        Updated <relative-time datetime="{{ .Lastmod.Format "2006-01-02 15:04" }}" class="no-wrap">
                                            {{ .Lastmod.Format "2006-01-02 15:04" }}</relative-time>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ol>
            </div>
        </div>
    </div>

    <div class="mt-4 position-relative">
        <div class="calendar">
            <iframe
                id="calendar"
                src="/calendar/{{ $lastYear }}/"
                width="100%"
                height="100%"
                scrolling="no"
                frameborder="0"
                sandbox="allow-same-origin allow-scripts allow-top-navigation"></iframe>
        </div>

        <div class="profile-timeline-year-list js-profile-timeline-year-list bg-white js-sticky float-right">
            <ul class="filter-list small">
                {{ range .Site.RegularPages.GroupByPublishDate "2006" }}
                {{ $year := .Key }}
                <li>
                <a id="year-link-{{ $year }}"
                    class="js-year-link filter-item px-3 mb-2 py-2 {{ if eq $year `2020` }}selected{{ end }}"
                    aria-label="Contribution activity in {{ $year }}"
                    onclick="load_calendar({{ $year }});">{{ $year }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    function load_calendar(year) {
        document.getElementById('calendar').contentWindow.location.replace("/calendar/"+year+"/");
    }
    load_calendar({{ $lastYear }});
</script>
