{{ define "overview" }}
{{ $pinned := where .Site.Pages "Params.pin" true }}
<div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
  <div>
    <div class="position-relative">
      <div class="mt-4">

        {{ if ne (len $pinned) 0 }}
        <div class="js-pinned-items-reorder-container">
          <h2 class="f4 mb-2 text-normal">
            Pinned
          </h2>

          <ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list">
            {{ range (first 6 $pinned) }}
            <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
              <div
                class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source reorderable sortable-button-item">
                <div class="pinned-item-list-item-content">
                  <div class="d-flex width-full flex-items-center position-relative">
                    <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1"
                      width="16" height="16">
                      <path fill-rule="evenodd"
                        d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z">
                      </path>
                    </svg>
                    <a class="text-bold flex-auto min-width-0" href="{{ .Permalink }}">
                      <span class="repo" title="{{ .Title }}">{{ .Title }}</span>
                    </a>
                  </div>


                  <div name="summary" class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                    {{ .Summary | safeHTML }}
                  </div>

                  <!-- TODO: 文章标签 -->
                  <p class="mb-0 f6 text-gray">
                    <a href="{{ .Permalink }}" class="pinned-item-meta muted-link ">
                      <svg aria-label="stars" class="octicon octicon-star" viewBox="0 0 16 16" version="1.1" width="16"
                        height="16" role="img">
                        <path fill-rule="evenodd"
                          d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z">
                        </path>
                      </svg>
                      999
                    </a>
                  </p>
                </div>
              </div>
            </li>
            {{ end }}
          </ol>
        </div>
        {{ else }}
        <div class="js-pinned-items-reorder-container">
          <h2 class="f4 mb-2 text-normal">
            Popular posts
          </h2>

          <ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list">
            {{ range (first 6 (where .Site.RegularPages "Section" "in" (slice "post"))) }}
            <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
              <div
                class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source reorderable sortable-button-item">
                <div class="pinned-item-list-item-content">
                  <div class="d-flex width-full flex-items-center position-relative">
                    <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1"
                      width="16" height="16">
                      <path fill-rule="evenodd"
                        d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z">
                      </path>
                    </svg>
                    <a class="text-bold flex-auto min-width-0" href="{{ .Permalink }}">
                      <span class="repo" title="{{ .Title }}">{{ .Title }}</span>
                    </a>
                  </div>


                  <div name="summary" class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                    {{ .Summary | safeHTML }}
                  </div>

                  <!-- TODO: 文章标签 -->
                  <p class="mb-0 f6 text-gray">
                    <a href="{{ .Permalink }}" class="pinned-item-meta muted-link ">
                      <svg aria-label="stars" class="octicon octicon-star" viewBox="0 0 16 16" version="1.1" width="16"
                        height="16" role="img">
                        <path fill-rule="evenodd"
                          d="M8 .25a.75.75 0 01.673.418l1.882 3.815 4.21.612a.75.75 0 01.416 1.279l-3.046 2.97.719 4.192a.75.75 0 01-1.088.791L8 12.347l-3.766 1.98a.75.75 0 01-1.088-.79l.72-4.194L.818 6.374a.75.75 0 01.416-1.28l4.21-.611L7.327.668A.75.75 0 018 .25zm0 2.445L6.615 5.5a.75.75 0 01-.564.41l-3.097.45 2.24 2.184a.75.75 0 01.216.664l-.528 3.084 2.769-1.456a.75.75 0 01.698 0l2.77 1.456-.53-3.084a.75.75 0 01.216-.664l2.24-2.183-3.096-.45a.75.75 0 01-.564-.41L8 2.694v.001z">
                        </path>
                      </svg>
                      999
                    </a>
                  </p>
                </div>
              </div>
            </li>
            {{ end }}
          </ol>
        </div>
        {{ end }}
      </div>

      {{ $section := where .Site.RegularPages "Section" "in" (slice "post") }}
      <div class="mt-4 position-relative" id="contributions" data='[{{ range $index, $elem := $section }}
{
    "title": "{{ .Title }}",
    "link": "{{ .Permalink }}",
    "publishDate": "{{ .PublishDate.Format "2006-01-02 15:04:05" }}"
}{{ if ne $index (sub (len $section) 1) }},{{ end }}
{{ end }}]'>
        <div class="js-yearly-contributions">
          <div class="position-relative">
            <h2 class="f4 text-normal mb-2" id="posts-count"></h2>
            <div class="border py-2 graph-before-activity-overview">
              <div
                class="js-calendar-graph mx-md-2 mx-3 d-flex flex-column flex-items-end flex-xl-items-center overflow-hidden pt-1 is-graph-loading graph-canvas calendar-graph height-full text-center">
                <svg width="828" height="128" class="js-calendar-graph-svg">
                  <g transform="translate(10, 20)" id="graph-svg">
                  </g>
                </svg>
              </div>
              <div class="contrib-footer clearfix mt-1 mx-3 px-3 pb-1">
                <div class="float-left text-gray">
                </div>
                <div class="contrib-legend text-gray">
                  Less
                  <ul class="legend">
                    <li style="background-color: var(--color-calendar-graph-day-bg)"></li>
                    <li style="background-color: var(--color-calendar-graph-day-L1-bg)"></li>
                    <li style="background-color: var(--color-calendar-graph-day-L2-bg)"></li>
                    <li style="background-color: var(--color-calendar-graph-day-L3-bg)"></li>
                    <li style="background-color: var(--color-calendar-graph-day-L4-bg)"></li>
                  </ul>
                  More
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="activity-listing contribution-activity">
          <div class="d-none d-lg-block">
            <div class="js-profile-timeline-year-list bg-white float-right col-2 pl-5 is-placeholder"
              style="visibility: hidden; display: none; height: 210px;"></div>
            <div style="top: 74px; position: static;"
              class="js-profile-timeline-year-list bg-white js-sticky float-right col-2 pl-5">
              <ul class="filter-list small" id="year-list">
              </ul>
            </div>
          </div>

          <h2 class="f4 text-normal mt-4 mb-3">
            Contribution activity
          </h2>

          <div class="contribution-activity-listing float-left col-12 col-lg-10" id="posts-activity">
            <div class="width-full pb-4">
              <h3 class="h6 pr-2 py-1 border-bottom mb-3" style="height: 14px;">
                <span class="color-bg-canvas pl-2 pr-3">December <span class="text-gray">2020</span></span>
              </h3>


              <div class="TimelineItem ">

                <div class="TimelineItem-badge ">
                  <svg class="octicon octicon-repo-push" viewBox="0 0 16 16" version="1.1" width="16" height="16">
                    <path fill-rule="evenodd"
                      d="M1 2.5A2.5 2.5 0 013.5 0h8.75a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0V1.5h-8a1 1 0 00-1 1v6.708A2.492 2.492 0 013.5 9h3.25a.75.75 0 010 1.5H3.5a1 1 0 100 2h5.75a.75.75 0 010 1.5H3.5A2.5 2.5 0 011 11.5v-9zm13.23 7.79a.75.75 0 001.06-1.06l-2.505-2.505a.75.75 0 00-1.06 0L9.22 9.229a.75.75 0 001.06 1.061l1.225-1.224v6.184a.75.75 0 001.5 0V9.066l1.224 1.224z">
                    </path>
                  </svg>
                </div>
                <div class="TimelineItem-body ">
                  <details open="open" class="Details-element details-reset ">
                    <summary role="button" class="btn-link f4 muted-link no-underline lh-condensed width-full ">
                      <span class="color-text-primary ws-normal text-left">
                        Created 16
                        commits in
                        4
                        repositories
                      </span>
                      <span class="d-inline-block float-right color-icon-secondary">
                        <span class="Details-content--open float-right" aria_label="Collapse"
                          data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_CATEGORY_ROLLUP_COLLAPSE&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                          data-hydro-click-hmac="bdeed660aa78bbca7270cf764d76c37c70ecabd1c4cd251185d3d703e75452a0"><svg
                            class="octicon octicon-fold" viewBox="0 0 16 16" version="1.1" width="16" height="16">
                            <path fill-rule="evenodd"
                              d="M10.896 2H8.75V.75a.75.75 0 00-1.5 0V2H5.104a.25.25 0 00-.177.427l2.896 2.896a.25.25 0 00.354 0l2.896-2.896A.25.25 0 0010.896 2zM8.75 15.25a.75.75 0 01-1.5 0V14H5.104a.25.25 0 01-.177-.427l2.896-2.896a.25.25 0 01.354 0l2.896 2.896a.25.25 0 01-.177.427H8.75v1.25zm-6.5-6.5a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM6 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 016 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM12 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 0112 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5z">
                            </path>
                          </svg></span>
                        <span class="Details-content--closed float-right" aria_label="Expand"
                          data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_CATEGORY_ROLLUP_EXPAND&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                          data-hydro-click-hmac="5ee3975c95842d71a57199562f0d16dee03eda921b302871c87e69ec3a74343f"><svg
                            class="octicon octicon-unfold" viewBox="0 0 16 16" version="1.1" width="16" height="16">
                            <path fill-rule="evenodd"
                              d="M8.177.677l2.896 2.896a.25.25 0 01-.177.427H8.75v1.25a.75.75 0 01-1.5 0V4H5.104a.25.25 0 01-.177-.427L7.823.677a.25.25 0 01.354 0zM7.25 10.75a.75.75 0 011.5 0V12h2.146a.25.25 0 01.177.427l-2.896 2.896a.25.25 0 01-.354 0l-2.896-2.896A.25.25 0 015.104 12H7.25v-1.25zm-5-2a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM6 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 016 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM12 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 0112 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5z">
                            </path>
                          </svg></span>
                      </span>
                    </summary>
                    <div>
                      <ul class="list-style-none mt-1" data-repository-hovercards-enabled="">

                        <li class="ml-0 py-1 d-flex">
                          <div
                            class="col-8 css-truncate css-truncate-target lh-condensed width-fit flex-auto min-width-0">
                            <a data-hovercard-type="repository" data-hovercard-url="/MeiK2333/StepByStep/hovercard"
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_REPO_LINK&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="dcf816526950ba68b6598fc5956d41c491300d211ff6f51e9347a8b9c2fd1d66"
                              href="/MeiK2333/StepByStep">MeiK2333/StepByStep</a>
                            <a class="f6 muted-link ml-lg-1 mt-1 mt-lg-0 d-block d-lg-inline "
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_COMMIT_RANGE&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="810ade5d5ebd2b2b770839e68dfa40a4ae39aa49323f1c07f7f37d419e4c679f"
                              href="/MeiK2333/StepByStep/commits?author=MeiK2333&amp;since=2020-11-30&amp;until=2020-12-14">
                              10 commits
                            </a> </div>

                          <div class="col-3 flex-shrink-0">
                            <div class="Progress mt-1 tooltipped tooltipped-n color-bg-primary"
                              aria-label="63% of commits in December were made to MeiK2333/StepByStep ">
                              <span class="Progress-item rounded-2" style="width: 63%;background-color: #30a14e"></span>
                            </div>
                          </div>
                        </li>
                        <li class="ml-0 py-1 d-flex">
                          <div
                            class="col-8 css-truncate css-truncate-target lh-condensed width-fit flex-auto min-width-0">
                            <a data-hovercard-type="repository" data-hovercard-url="/MeiK2333/river/hovercard"
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_REPO_LINK&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="dcf816526950ba68b6598fc5956d41c491300d211ff6f51e9347a8b9c2fd1d66"
                              href="/MeiK2333/river">MeiK2333/river</a>
                            <a class="f6 muted-link ml-lg-1 mt-1 mt-lg-0 d-block d-lg-inline "
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_COMMIT_RANGE&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="810ade5d5ebd2b2b770839e68dfa40a4ae39aa49323f1c07f7f37d419e4c679f"
                              href="/MeiK2333/river/commits?author=MeiK2333&amp;since=2020-11-30&amp;until=2020-12-14">
                              3 commits
                            </a> </div>

                          <div class="col-3 flex-shrink-0">
                            <div class="Progress mt-1 tooltipped tooltipped-n color-bg-primary"
                              aria-label="19% of commits in December were made to MeiK2333/river ">
                              <span class="Progress-item rounded-2" style="width: 19%;background-color: #9be9a8"></span>
                            </div>
                          </div>
                        </li>
                        <li class="ml-0 py-1 d-flex">
                          <div
                            class="col-8 css-truncate css-truncate-target lh-condensed width-fit flex-auto min-width-0">
                            <a data-hovercard-type="repository"
                              data-hovercard-url="/MeiK2333/headful-chrome-launch/hovercard"
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_REPO_LINK&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="dcf816526950ba68b6598fc5956d41c491300d211ff6f51e9347a8b9c2fd1d66"
                              href="/MeiK2333/headful-chrome-launch">MeiK2333/headful-chrome-launch</a>
                            <a class="f6 muted-link ml-lg-1 mt-1 mt-lg-0 d-block d-lg-inline "
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_COMMIT_RANGE&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="810ade5d5ebd2b2b770839e68dfa40a4ae39aa49323f1c07f7f37d419e4c679f"
                              href="/MeiK2333/headful-chrome-launch/commits?author=MeiK2333&amp;since=2020-11-30&amp;until=2020-12-14">
                              2 commits
                            </a> </div>

                          <div class="col-3 flex-shrink-0">
                            <div class="Progress mt-1 tooltipped tooltipped-n color-bg-primary"
                              aria-label="13% of commits in December were made to MeiK2333/headful-chrome-launch ">
                              <span class="Progress-item rounded-2" style="width: 13%;background-color: #9be9a8"></span>
                            </div>
                          </div>
                        </li>
                        <li class="ml-0 py-1 d-flex">
                          <div
                            class="col-8 css-truncate css-truncate-target lh-condensed width-fit flex-auto min-width-0">
                            <a data-hovercard-type="repository" data-hovercard-url="/MeiK2333/github-style/hovercard"
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_REPO_LINK&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="dcf816526950ba68b6598fc5956d41c491300d211ff6f51e9347a8b9c2fd1d66"
                              href="/MeiK2333/github-style">MeiK2333/github-style</a>
                            <a class="f6 muted-link ml-lg-1 mt-1 mt-lg-0 d-block d-lg-inline "
                              data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_COMMIT_RANGE&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                              data-hydro-click-hmac="810ade5d5ebd2b2b770839e68dfa40a4ae39aa49323f1c07f7f37d419e4c679f"
                              href="/MeiK2333/github-style/commits?author=MeiK2333&amp;since=2020-11-30&amp;until=2020-12-14">
                              1 commit
                            </a> </div>

                          <div class="col-3 flex-shrink-0">
                            <div class="Progress mt-1 tooltipped tooltipped-n color-bg-primary"
                              aria-label="7% of commits in December were made to MeiK2333/github-style ">
                              <span class="Progress-item rounded-2" style="width: 7%;background-color: #9be9a8"></span>
                            </div>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </details>
                </div>
              </div>








              <div class="TimelineItem ">

                <div class="TimelineItem-badge ">
                  <svg class="octicon octicon-git-pull-request" viewBox="0 0 16 16" version="1.1" width="16"
                    height="16">
                    <path fill-rule="evenodd"
                      d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z">
                    </path>
                  </svg>
                </div>
                <div class="TimelineItem-body ">
                  <details class="Details-element details-reset " open="">
                    <summary role="button" class="btn-link f4 muted-link no-underline lh-condensed width-full ">
                      <span class="float-left ws-normal text-left color-text-primary">
                        Opened 1

                        pull request in
                        1
                        repository
                      </span>
                      <span class="d-inline-block float-right">
                        <span class="Details-content--open float-right" aria_label="Collapse"
                          data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_CATEGORY_ROLLUP_COLLAPSE&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                          data-hydro-click-hmac="bdeed660aa78bbca7270cf764d76c37c70ecabd1c4cd251185d3d703e75452a0"><svg
                            class="octicon octicon-fold" viewBox="0 0 16 16" version="1.1" width="16" height="16">
                            <path fill-rule="evenodd"
                              d="M10.896 2H8.75V.75a.75.75 0 00-1.5 0V2H5.104a.25.25 0 00-.177.427l2.896 2.896a.25.25 0 00.354 0l2.896-2.896A.25.25 0 0010.896 2zM8.75 15.25a.75.75 0 01-1.5 0V14H5.104a.25.25 0 01-.177-.427l2.896-2.896a.25.25 0 01.354 0l2.896 2.896a.25.25 0 01-.177.427H8.75v1.25zm-6.5-6.5a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM6 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 016 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM12 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 0112 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5z">
                            </path>
                          </svg></span>
                        <span class="Details-content--closed float-right" aria_label="Expand"
                          data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_CATEGORY_ROLLUP_EXPAND&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                          data-hydro-click-hmac="5ee3975c95842d71a57199562f0d16dee03eda921b302871c87e69ec3a74343f"><svg
                            class="octicon octicon-unfold" viewBox="0 0 16 16" version="1.1" width="16" height="16">
                            <path fill-rule="evenodd"
                              d="M8.177.677l2.896 2.896a.25.25 0 01-.177.427H8.75v1.25a.75.75 0 01-1.5 0V4H5.104a.25.25 0 01-.177-.427L7.823.677a.25.25 0 01.354 0zM7.25 10.75a.75.75 0 011.5 0V12h2.146a.25.25 0 01.177.427l-2.896 2.896a.25.25 0 01-.354 0l-2.896-2.896A.25.25 0 015.104 12H7.25v-1.25zm-5-2a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM6 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 016 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5zM12 8a.75.75 0 01-.75.75h-.5a.75.75 0 010-1.5h.5A.75.75 0 0112 8zm2.25.75a.75.75 0 000-1.5h-.5a.75.75 0 000 1.5h.5z">
                            </path>
                          </svg></span>
                      </span>
                    </summary>
                    <div>
                      <details open="open" data-repository-hovercards-enabled="true"
                        data-issue-and-pr-hovercards-enabled="true" class="Details-element details-reset my-1">
                        <summary data-octo-click="profile_timeline_toggle_rollup_created_pull_requests" role="button"
                          class="flex-items-baseline btn-link no-underline lh-condensed d-flex text-left">
                          <div class="col-7">
                            <span class="css-truncate css-truncate-target width-fit" data-hovercard-type="repository"
                              data-hovercard-url="/MeiK2333/headful-chrome-launch/hovercard">MeiK2333/headful-chrome-launch</span>
                          </div>
                          <span class="col-5 f6 color-text-secondary text-right">
                            <span class="State--purple State ml-2 px-1 py-0 lh-condensed-ultra f6">1</span>
                            merged
                          </span>
                        </summary>
                        <div>
                          <ul class="mt-1 list-style-none">
                            <li class="py-1 ml-0 d-flex">
                              <span class="flex-auto min-width-0">
                                <span class="css-truncate css-truncate-target width-fit">
                                  <svg class="octicon octicon-git-merge text-purple" title="Merged" viewBox="0 0 16 16"
                                    version="1.1" width="16" height="16">
                                    <path fill-rule="evenodd"
                                      d="M5 3.254V3.25v.005a.75.75 0 110-.005v.004zm.45 1.9a2.25 2.25 0 10-1.95.218v5.256a2.25 2.25 0 101.5 0V7.123A5.735 5.735 0 009.25 9h1.378a2.251 2.251 0 100-1.5H9.25a4.25 4.25 0 01-3.8-2.346zM12.75 9a.75.75 0 100-1.5.75.75 0 000 1.5zm-8.5 4.5a.75.75 0 100-1.5.75.75 0 000 1.5z">
                                    </path>
                                  </svg>
                                  <a class="no-underline"
                                    data-hydro-click="{&quot;event_type&quot;:&quot;user_profile.click&quot;,&quot;payload&quot;:{&quot;profile_user_id&quot;:20951666,&quot;target&quot;:&quot;TIMELINE_PR_LINK&quot;,&quot;user_id&quot;:20951666,&quot;originating_url&quot;:&quot;https://github.com/MeiK2333&quot;}}"
                                    data-hydro-click-hmac="1a99e9f0dc5983133d88b8da217dcc90c864595d717fd084e481baf87728a4f6"
                                    data-hovercard-type="pull_request"
                                    data-hovercard-url="/MeiK2333/headful-chrome-launch/pull/1/hovercard"
                                    href="/MeiK2333/headful-chrome-launch/pull/1">
                                    <span class="link-gray-dark ">重构</span>
                                  </a> </span>
                              </span>
                              <time title="This contribution was made on Dec 1"
                                class="float-right f6 text-gray-light pt-1 no-wrap flex-shrink-0">
                                Dec 1
                              </time>
                            </li>
                          </ul>
                        </div>
                      </details>
                    </div>
                  </details>
                </div>
              </div>






















            </div>
          </div>
        </div>

      </div>

      <div id="pinned-items-modal-wrapper"></div>

    </div>
  </div>

</div>

<div id="svg-tip" class="svg-tip svg-tip-one-line" style="pointer-events: none; display: none;">
</div>
{{ end }}