{{ if .Site.Params.enableCDN }}
<script type="application/javascript" src="{{ .Site.Params.CDN.github_style_js }}"></script>
{{ else }}
<script type="application/javascript" src="{{ "js/github-style.js" | absURL }}"></script>
<script src="{{ "js/mark.es6.min.js" | absURL }}"></script>

{{ if and .Site.Params.EnableLocalSearch .Site.Params.Rss }}
<script type="text/javascript">

  const host = window.location.host;
  const keyword = localStorage.getItem('keyword');
  localStorage.removeItem('keyword');

  if (keyword) {
    const markInstance = new Mark(document.body);
    markInstance.unmark({
      done: function() {
        markInstance.mark(keyword);
      }
    });
  }

  const primaryColor = getComputedStyle(document.documentElement).getPropertyValue('--color-bg-primary');
  const mutedColor = getComputedStyle(document.documentElement).getPropertyValue('--color-fg-muted');
  const hoverColor = '#216EEB';

  let originalStyle;
  let svgOriginalStyle;
  let titleOriginalStyle;

  const onMouseOver = (node) => {
    originalStyle = Object.assign({}, node.style);
    node.style.backgroundColor = hoverColor;

    const child = node.querySelector('.js-jump');
    child.classList.remove('d-on-nav-focus');

    const title = node.querySelector('.title');
    if (title && primaryColor === ' #fff') {
      titleOriginalStyle = title.style;
      title.style.color = '#fff';
    }

    const svg = node.querySelector('.octicon');
    if (svg) {
      svgOriginalStyle = svg.style;
      svg.style.color = '#fff';
    }
  }

  const onMouseLeave = (node) => {
    node.style = originalStyle;
    const child = node.querySelector('.js-jump');
    child.classList.add('d-on-nav-focus');

    const title = node.querySelector('.title');
    title.style = titleOriginalStyle;

    const svg = node.querySelector('.octicon');
    svg.style = svgOriginalStyle;
  }

  const createSearchItem = (title, link, index) => {
    return `
    <li class="color-bg-primary search-item d-flex flex-justify-start flex-items-center p-0 f5 navigation-item js-navigation-item js-jump-to-scoped-search"
        role="option" aria-selected="false" tabindex="${index}">
        <a onmouseover="onMouseOver(this)" onmouseleave="onMouseLeave(this)"
          class="no-underline d-flex flex-auto flex-items-center jump-to-suggestions-path js-jump-to-suggestion-path js-navigation-open p-2"
          href="${link}" data-item-type="scoped_search">
          <div class="jump-to-octicon js-jump-to-octicon flex-shrink-0 mr-2 text-center ">
            <svg title="Repository" aria-label="Repository" role="img" height="16" viewBox="0 0 16 16"
              version="1.1" width="16" data-view-component="true"
              class="octicon octicon-repo js-jump-to-octicon-repo  flex-shrink-0">
              <path fill-rule="evenodd"
                d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z">
              </path>
            </svg>
          </div>    

          <div
            class="title jump-to-suggestion-name js-jump-to-suggestion-name flex-auto overflow-hidden text-left no-wrap css-truncate css-truncate-target">
            ${title}
          </div>

          <div aria-hidden="true" style="color: var(--color-fg-muted);"
            class="color-bg-primary js-jump border rounded-2 flex-shrink-0 color-bg-subtle px-1 ml-1 f6 d-on-nav-focus js-jump-to-badge-jump">
            Jump to
            <span class="d-inline-block ml-1 v-align-middle">↵</span>
          </div>
        </a>
      </li>
    `
  }

  const createGoogleSearchItem = (keyword) => {
    return `
    <li class="color-bg-primary search-item d-flex flex-justify-start flex-items-center p-0 f5 navigation-item js-navigation-item js-jump-to-scoped-search"
        role="option" aria-selected="false" tabindex="0">
        <a onmouseover="onMouseOver(this)" onmouseleave="onMouseLeave(this)"
          class="no-underline d-flex flex-auto flex-items-center jump-to-suggestions-path js-jump-to-suggestion-path js-navigation-open p-2"
          href="https://www.google.com/search?q=${keyword}" target="_blank" data-item-type="scoped_search">
          <div class="jump-to-octicon js-jump-to-octicon flex-shrink-0 mr-2 text-center ">
            <svg title="Search" aria-label="Search" role="img" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-search js-jump-to-octicon-search flex-shrink-0">
                <path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path>
            </svg>
          </div>    

          <div
            class="title jump-to-suggestion-name js-jump-to-suggestion-name flex-auto overflow-hidden text-left no-wrap css-truncate css-truncate-target">
            ${keyword}
          </div>

          <div aria-hidden="true" style="color: var(--color-fg-muted);"
            class="color-bg-primary js-jump border rounded-2 flex-shrink-0 color-bg-subtle px-1 ml-1 f6 d-on-nav-focus js-jump-to-badge-jump">
            Google search
            <span class="d-inline-block ml-1 v-align-middle">↵</span>
          </div>
        </a>
      </li>
    `
  }

  const stripHtml = (html) => {
    let tmp = document.createElement('div');
    tmp.innerHTML = html;

    // remove style tags and content
    const styles = tmp.getElementsByTagName('style');
    while(styles[0]) {
      styles[0].parentNode.removeChild(styles[0]);
    }

    // remove script tags and content
    const scripts = tmp.getElementsByTagName('script');
    while(scripts[0]) {
      scripts[0].parentNode.removeChild(scripts[0]);
    }
    
    return tmp.textContent || tmp.innerText || "";
  }

  const inputDom = document.querySelector(".Header-search-input");
  const resultDom = document.getElementById('jump-to-results');
  let debounceTimer;
  let parser;
  let xmlDoc;

  const search = (_keyword) => {

    resultDom.innerHTML = '';

    const keyword = _keyword;

    if (!keyword) return;

    const progressDom = document.getElementById('search-progress');
    if (progressDom && progressDom.classList.contains('d-none')) {
      progressDom.classList.remove('d-none');
    }

    localStorage.setItem('keyword', keyword);
    fetch(`${host.indexOf('localhost') > -1 ? 'http://' : 'https://'}${host}/index.xml`).then(resp => resp.text()).then(async (res) => {
      parser = new DOMParser();
      xmlDoc = parser.parseFromString(res, 'text/xml');
      const linkResult = xmlDoc.getElementsByTagName('link');
      const titleResult = xmlDoc.getElementsByTagName('title');
      const arr = [];

      const matched = [];
      await (async function searchLink() {
        for (let i = 0; i < linkResult.length; i++) {
          await fetch(linkResult[i].textContent).then(resp => resp.text().then(res => {
            const pureText = stripHtml(res);
            if (pureText.indexOf(keyword) >= 0) {
              matched.push(i);
            }
          }))
        }
      })();

      const googleSearchItem = createGoogleSearchItem(keyword);
      const node= document.createRange().createContextualFragment(googleSearchItem);
      resultDom.appendChild(node);

      matched.map((itemIndex, index) => {
        const r = createSearchItem(titleResult[itemIndex].textContent, linkResult[itemIndex].textContent, index + 1);
        const node = document.createRange().createContextualFragment(r);
        resultDom.appendChild(node);
      });

      if (progressDom && !progressDom.classList.contains('d-none')) {
        progressDom.classList.add('d-none');
      }
    });
  }

  const debounce = (callback, time) => {
    window.clearTimeout(debounceTimer);
    debounceTimer = window.setTimeout(callback, time);
  };

  ['focus', 'input'].forEach(event => {
    inputDom.addEventListener(event, (e) => {
      debounce(() => search(e.target.value), 500);
    }, false);
  });

  inputDom.addEventListener('blur', () => {
    setTimeout(() => {
      resultDom.innerHTML = '';
    }, 100);
  });

</script>
{{ end }}

{{ if or .Params.math .Site.Params.math }}
<!--copy from https://katex.org/docs/browser.html-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
<!--copy from https://katex.org/docs/browser.html-->
{{ end }}

{{ if or .Params.MathJax .Site.Params.MathJax}}
<script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\[\[', '\]\]']],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        TeX: {
          equationNumbers: { autoNumber: "AMS" },
          extensions: ["AMSmath.js", "AMSsymbols.js"]
        }
      }
    });

    MathJax.Hub.Queue(function () {
      // Fix <code> tags after MathJax finishes running. This is a
      // hack to overcome a shortcoming of Markdown. Discussion at
      // https://github.com/mojombo/jekyll/issues/199
      var all = MathJax.Hub.getAllJax(), i;
      for (i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
      }
    });
  </script>

<style>
  code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
  }
</style>
{{end}}