<script crossorigin="anonymous"
    type="application/javascript" src="{{ "js/frameworks.js" | absURL }}"></script>

<script crossorigin="anonymous" async="async"
    type="application/javascript" src="{{ "js/github-bootstrap.js" | absURL }}"></script>
<script>
    let classs = ['pinned-item-desc', 'text-gray', 'text-small', 'd-block', 'mt-2', 'mb-3'];
    const pinned_posts = document.getElementsByName('pinned-post');
    for (let i = 0; i < pinned_posts.length; i++) {
        for (let j = 0; j < classs.length; j++) {
            const ps = pinned_posts[i].getElementsByTagName('p');
            for (let k = 0; k < ps.length; k++) {
                ps[k].classList.add(classs[j]);
            }
        }
    }
    classs = [/*'col-9', */'d-inline-block', 'text-gray', 'mb-2', 'pr-4'];
    const posts_posts = document.getElementsByName('posts-post');
    for (let i = 0; i < posts_posts.length; i++) {
        for (let j = 0; j < classs.length; j++) {
            const ps = posts_posts[i].getElementsByTagName('p');
            for (let k = 0; k < ps.length; k++) {
                ps[k].classList.add(classs[j]);
            }
        }
    }
</script>